<a href="https://colab.research.google.com/github/agrim1989/DataScience-2024/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### New Assignmet Notebook

### Data Science Fundamentals - Introduction (Exercises)

This Jupyter Notebook serves as an introduction to some fundamental concepts in Data Science. We'll explore different aspects including languages, libraries, tools, and basic arithmetic operations.

### Here are some popular programming languages used in Data Science:
*   Python
*   R
*   Julia
*   Scala

### These are commonly used **libraries** within **Data Science** workflows:
*   NumPy (Python)
*   Pandas (Python)
*   Scikit-learn (Python)
*   TensorFlow/PyTorch (Python)
*   ggplot2 (R)

### Data Science Tools
* Jupyter Notebook
* Version Control Systems (Git)
* Cloud Platforms (AWS, Azure, GCP)
* Data Visualization Tools (Tableau, Power BI)

### Arithmetic Expressions
We can perform various mathematical operations on numerical data using arithmetic expressions. Here are some examples:
*    Addition (+)
*    Subtraction (-)
*    Multiplication (*)
*    Division (/)

### Exercise 8 - Create a code cell to multiply and add numbers.

In [2]:
# Multiply
a = 5
b = 10
a * b

50

In [1]:
# Addition
a = 5
b = 10
a + b

15

###Exercise 9 - Convert Minutes to Hours

In [3]:
minutes = 60
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours:.2f} hours")

60 minutes is equal to 1.00 hours

### Exercise 10 - Objectives
The objectives of this notebook are to:
* Introduce essential Data Science concepts.
* Showcase basic Python code examples for arithmetic operations.
* Provide an overview of Data Science tools and resources.

### Exercise 11 - Author
This notebook is creeted by

> Agrim Sharma